body { font-size:14px; margin:0; padding:0; }
h1 { margin:0; padding:0; font-size:1.2em; font-weight:normal; }
a { text-decoration:none; }

/* General classes. */
.middleContainer { display:table; height:100%; }
.middle { display:table-cell; vertical-align:middle;}
.bold { font-weight:bold; }
.floatLeft { float:left; }
.floatRight { float:right; }
.clear { clear:both; }

/* Header. */
.header { font-family:"proxima-nova", 'Helvetica Neue', Arial, Helvetica, sans-serif !important; width:100%; height:71px; color:#fff; background-color:#303135; position:relative; }
.header .floatLeft { margin-left:10px; margin-right:40px; }
.header img { border:0; margin:0; padding:0; display:block; position:absolute; right:10px; top:13px; }

/* Scroll buttons. */
.scrollButton { display:block; width:100%; height:24px; cursor:pointer; }
.scrollButton.up { background:url(/images/widget-up.png) center center no-repeat #434448; }
.scrollButton.down { height:31px; background:url(/images/widget-down.png) center center no-repeat #434448; }

/* Ticker. */
.tickerContainer { padding:5px;  border:9px solid #e0e1e3; }
.ticker ul { list-style:none; margin:0; padding:0; width:100%; }
.ticker .result { padding-bottom:10px; }
.ticker .result > a { display:block; padding-bottom:10px; border-bottom:1px solid #d7d7d7; }
.ticker .result .thumbnail { width:67px; float:left; border:0; }
.ticker .result .detailsWrapper { }
.ticker .result .details { margin-left:72px; font-size:1em; font-family:Arial,Helvetica,sans-serif; color:#262626; }
.ticker .result .details h2 { margin:0 0 5px 0; padding:0; font-size:1em; }
.ticker .result .details .subTitle { font-size:0.8em; font-weight:bold; font-style:italic; }

/* Search control. */
.searchContainer { width:100%; height:61px; background-color:#9c9da1; position:relative; }
.roundedSearchBox { background-color:#fff; position:absolute; top:13px; right:10px; bottom:13px; left:10px; -moz-border-radius:10px; border-radius:10px; }
.searchBoxWrapper { position:absolute; top:4px; right:35px; bottom:3px; left:35px; }
.searchBox { width:100%; height:100%; border:0; outline:0; text-align:center; font-weight:bold; font-size:1.2em; }
.searchButton { display:block; background-color:#fff; margin:0; padding:0; border:0; position:absolute; top:8px; right:10px; outline:0; cursor:pointer; }